#heart {
    width: 100px;
    height: 90px;
    position: relative;
    margin: 50px auto;
}

#heart::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 80px;
    border-radius: 25px 22px 0 0;
    background-color: red;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    left: 50px;
}

#heart::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 80px;
    border-radius: 25px 22px 0 0;
    background-color: red;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#egg {
    width: 90px;
    height: 120px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    background-color: #0aa;
    margin: 50px auto;
}