#background {
    margin: 100px auto;
    width: 800px;
    height: 291px;
    background-image: url(./cat.jpg);
    position: relative;
}

#content {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: #fff;
    opacity: 0.8;
    top: 45px;
    left: 200px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 2px 5px #888;
}