.diamond{
    width: 200px;
    height: 200px;
    background-color: #6fa;
    margin: 50px auto;
    transform: rotate(45deg);
}

.parallel {
    width: 200px;
    height: 100px;
    background-color: #6fa;
    margin: 50px auto;
    transform: skew(20deg, 20deg);
}