.ceng {
    width: 100px;
    height: 100px;
    background-color: pink;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
}

.ceng:hover {
    width: 300px;
    height: 150px;
}