.order-train .order-title {
    text-align: center;
    height: 45px;
    background-color: #51a6f0;
    color: #fff;
    line-height: 45px;
}
.order-train .order-header-container {
    width: 100%;
    background-color: #51a6f0;
    color: #fff;
}
.order-train .order-header {
    display: flex;
    padding: 0 15px 10px;
}
.order-train .order-header>div {
    width: 33.3%;
}
.order-train .from-train {
    text-align: left;
}
.order-train .train-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.order-train .train-arrow img {
    width: 50px;
}
.order-train .to-train {
    text-align: right;
}
.order-train .train-time {
    font-size: 24px;
    padding: 5px 0;
}
.order-train .train-duration {
    font-size: 12px;
}
.order-train .train-rule {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fff;
    color: rgb(81, 166, 240);
}
.order-train .order-status-body {
    padding: 10px 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 8px solid rgb(236, 236, 237);
    background-color: #fff;
}
.order-train .order-status-container {
    width: 100%;
}
.order-train .order-status,
.order-train .order-pay {
    color: #e26a6a!important;
    font-size: 18px!important;
    margin-bottom: 10px!important;
}
.order-train .order-status-info div {
    color: rgb(121, 127, 133);
    font-size: 11px;
    margin-top: 5px;
}
.order-train .order-passengers,
.order-train .order-contact,
.order-train .cost-center {
    display: flex;
    justify-content: space-between;
}
.order-train .order-passengers-container {
    width: 100%;
}
.order-train .order-passengers {
    margin-top: 10px;
    background-color: #fff;
}
.order-train .list-title {
    width: 80px;
    margin-left: 15px;
    color: rgb(121, 127, 133);
    font-size: 14px;
    margin-top: 10px;
}
.order-train .list-passengers {
    width: 100%;
}
.order-train .passenger {
    width: 100%;
    margin-right: 15px;
}
.order-train .passenger-idcard,
.order-train .passenger-carriage,
.order-train .contact-phone {
    color: rgb(50, 59, 67);
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.order-train .passenger-changeInfo {
    font-size: 12px;
    color: #51a6f0;
    padding-bottom: 3px;
}
.order-train .passenger-change {
    font-size: 12px;
}
.order-train .passenger-ticketStatus {
    font-size: 14px;
    color: rgb(244,200,150);
    float: right;
}
.order-train .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.order-train .item:last-child {
    border-bottom: none;
}

.order-train .order-passengers,
.order-train .order-contact,
.order-train .cost-center {
    display: flex;
    justify-content: space-between;
}
.order-train .order-passengers-container {
    width: 100%;
}
.order-train .order-passengers {
    margin-top: 10px;
    background-color: #fff;
}
.order-train .list-title {
    width: 80px;
    margin-left: 15px;
    color: rgb(121, 127, 133);
    font-size: 14px;
    margin-top: 10px;
}
.order-train .list-passengers {
    width: 100%;
}

.order-train .passenger-name,
.order-train .contact-name {
    font-weight: bold;
    color: rgb(51, 59, 67);
    font-size: 14px;
    margin-top: 5px;
}
.order-train .passenger-carriage.line-through {
    text-decoration: line-through;
    color: rgb(180,184,188);
}
.order-train .passenger-railwayOrderNumber {
    color: #51a6f0;
    font-size: 12px;
    margin-bottom: 5px;
}
.order-train .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.order-train .item:last-child {
    border-bottom: none;
}
.order-train .order-contact-container {
    width: 100%;
}
.order-train .order-contact-container {
    width: 100%;
}
.order-train .order-contact {
    background-color: #fff;
}
.order-train .cost-center-container {
    width: 100%;
}
.order-train .cost-center {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px 0;
}
.order-train .cost-title {
    color: rgb(121, 127, 133);
    font-size: 14px;
    margin-left: 15px;
}
.order-train .cost-name {
    color: rgb(121, 127, 133);
    font-size: 11px;
    margin-right: 15px;
}
.showRules {
    background: rgba(99,99,99,0.4);
    position: fixed;
    top: 0;
    bottom: 0;    
    width: 100%;
}
.showRules .rule-body {
    background-color: #fff;
    z-index: 99;
    padding: 10px;
    font-size: 14px;
}
.showRules .rule-body table {
    border-collapse: collapse;
    margin: 5px 0;
    width: 100%;
}
.showRules .rule-body table tr td {
    border: 1px solid #aaa;
    padding: 5px;
}
.showRules .rule-body table tr td:first-child {
    width: 65px;
}
.showRules .rule-warning {
    color: #ff7c7c;
    font-size: 12px;
}
.app-download {
    background: #fff;
    text-align: center;
    font-size: 15px;
    color: #666;
    padding-bottom: 10px;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
}
.app-download a {
    color: rgb(131,209,248);
    text-decoration: none;
}